

.main{


    &__faq{
        color: white;
      margin: auto;
      margin-top: 15%;
     
     

      &__h2{
        display: block;
        margin: 0 auto;
        
        
        margin-left: 27.5%;
        margin-right: 10%;
   
        font-size: 40px;
        
        
    }
       &__art{
       
        width: 50%;
        min-width: 400px;
     
        margin-left: 15%;
        margin-top: 15%;
        margin-right: 15%;
        margin: auto;
      
  

        &__p{
            
            border: 0.8px solid rgba(192, 192, 192, 0.664);
            border-radius: 8px;
            padding: 2%;
            padding-right: 15%;
            margin-top: 6.5%;
            
            margin-left: 5%;
           
            
            width: 85%;
            position: relative;
            
            font-weight: 500;
            

           
            @include mq(large){
                padding: 5% 15% 5% 5%;
            }
          
            
        
        }
        /*
        .rotate{
            transform: rotate(180deg);
           transition: transform 0.5s ease-in-out;
         }
*/
         

        .o{
            /// dodać wysuwanie się tekstu 
            position: absolute;
            left: 92.5%;
            font-weight: 700;
            text-decoration: none;
          
           &:hover{
            cursor: pointer;
           }
          
            

          

           @include mq(after-xlarge){
            top: 30%;
            left: 90%;
        } 

        }
     
      
    
        .s{
          position: absolute;
          left: 92.5%;
          font-weight: 700;

          &:hover{
            cursor: pointer;
           }


               @include mq(after-xlarge){
                top: 30%;
                left: 90%;
            }
        }

       

        .t{
            position: absolute;
            left: 92.5%;
            font-weight: 700;

            &:hover{
                cursor: pointer;
               }

               @include mq(after-xlarge){
                top: 30%;
                left: 90%;
            }
               
        }

        .f{
            position: absolute;
            left: 92.5%;
            font-weight: 700;

            &:hover{
                cursor: pointer;
               }

               @include mq(after-xlarge){
                top: 30%;
                left: 90%;
            }
        }





        hr{
            margin-top: 5%;
            width: 130%;
            color: white;
        }
       }




       }
}


.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer */
    user-select: none;         /* Standard */
}

.showTextInfo{
    display: block;
    margin-top: 2.5%;
    color: rgb(187, 187, 187);
    font-size: 14px;
}

