.header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
   
   @include mq(medium-large){
    margin-top: 5%;
   }

    &__btn-waitList {
        @include btn-def;
        display: inline-block;
        position: absolute;
        align-self: auto;
        margin-right: 5%;
        left: 82.5%;
        top: 10%;
        z-index: 5;
        ///display: none;
       cursor: pointer;
       
        

        @include mq(medium-large){
            left: calc(82.5% - 10vw);
            transition: left 0.5s ease;
           
          }
       
        @include mq(medium){
            left: calc(82.5% - 15vw);
            top: -25px;
            transition: left 0.5s ease;
            
          }
       

    @include mq(medium-samll){
            left: calc(82.5% - 28vw);
            transition: left 0.5s ease;
            top: -5px;
            
          }

          @include mq(after-medium){
            top: 1px;
          }

         
        
        
    }

    &__navbar {
        display: inline-block;
        align-self: baseline;
        margin: auto;
       /// width: 700px;
        padding: 0.8%;
        margin-bottom: -2%;
        text-align: center;
      

        
        @include glass;
        border-radius: 20px;



        .all {
          margin: 0 2%;
       /// margin-left:3.5%;
        @include mq(xxlarge){
           /// margin: 0 3.5%;
        }
        @include mq(xlarge){
           /// margin: 0 2.5%;
        }

        @include mq(after-xlarge){
            margin: 0 1.8%;
        }

        @include mq(large){
            margin: 0 1.2%;
        }

        @include mq(medium-large){
            margin: 0 0.5%;
        }
       

        
           

            color: white;
        text-decoration: none;

            &:hover {
                text-decoration: underline;
                color: hsl(0deg, 0%, 75%);
            }
        }


        &__aboutPlatfrom{
            ///margin-left: 15%;
            ///background-color: red;
        }
    }

    &__logo {
        display: inline-block;
        position: absolute;
      width: 10%;
       height: auto;
        right: 82.5%;
        top: 15%;
        @include mq(medium-large){
            width: 15%; 
            right: 70.5%;
            
            transition: right 0.5s ease;
        }

        @include mq(medium){
             top: -25px;
            transition: top 0.5s ease;
           width: 100px;
        }

        @include mq(medium-samll){
            top: -5px;
          
        }

        @include mq(after-medium){
          top: 5px;
          
        }

        
        
    }

    &__ctaBtn {
        display: inline-block;
        margin-left: 8%;
    }

    &__navbar {

        

         width: calc(100% - (100% * 0.55));

         @include mq(xxxlarge){
           //// width: calc(100% - (100% * 0.45));
         } 

         @include mq (xxlarge){
            width: calc(100% - (100% * 0.53));
         } 

         @include mq(xlarge){
            width: calc(100% - (100% * 0.52));
         }
       

         @include mq(mid-after-large){
         width: calc(100% - (100% * 0.48));
         } 

         @include mq(large){
           /// width: calc(100% - (100% * 0.48));
         }



         @include mq(medium-large){
          
            display: none;
         }

         
      
    }

    &__waitlist-form{
    display: inline-block;
    ////margin-right: 15%;
       position: absolute;
        right: 5.5%;
        top: 25%;
        z-index: 10;
       transform: translateX(calc(100% - (100% * 0.98)));
        
       @include mq(xlarge){
        transform: translateX(calc(100% - (100% * 0.78)));
       }

       @include mq(mid-after-large){
        transform: translateX(calc(100% - (100% * 0.68)));
        transform: translateY(50px);
        transition: transform 0.3s ease; 
       }

       @include mq(large){
        transform: translate(50px,50px);
       }
       @include mq(medium-large){
        transform: translate(-25px,-15px);
       }

       @include mq(medium){
        transform: translate(-25px,-25px);
       }

       @include mq(medium-samll){
        transform: translate(12.5px,-5px);
        
       }
         
      &__inp{
        
        display: inline-block;
        text-indent: 5px;
        z-index: 10;
        outline: none;
        border-radius: 20px;
        border: 0;
        height: 38px;
        width: 250px;
        ///padding: 10px;
        box-shadow: 2px 10px 50px rgba(0, 72, 255, 0.543);
      }


      &__btn{
    display:inline-block;
       position: absolute;
       z-index: 10;
       top: -1px;
        right: -2px;
       font-size: 10px;
      background-color: black;
      border: 2px solid black;
       border-radius: 30px;
       height: 40px;
       width: 60px;
      color: white;
      
      &:hover{
        cursor: pointer;
        background-color: rgb(57, 56, 56);
        border: 2px solid rgb(57, 56, 56);
      }

      &:active{
        
        background-color: rgb(57, 56, 56);
        border: 2px solid rgb(57, 56, 56);
        transition: background-color 0.2s ease, border-color 0.3s ease; 
      }
        
      }
    }
    





}

.header > * {
    margin-top: 2.5%;
}

