@import 'varMix';

.main{




    &__product{
       

        
        @include text-list(
          'features',
          
          
          
        );

        
@include mq (large){
    @include text-list(
        'features',
        $columns:1,
        
        
      );

}




        margin-top: 12.5%;
   
        &__features{
           ///font-family: 'Open Sans';
            &__h2{
               
               text-align: left;
            
         
                
            }

            &__wrapper{
               
                width:80%;
               margin: auto;
              margin-top: 2.5%;

              &__div:nth-child(3n+1),&__div:nth-child(5){
                @include glass;

                
            }

            &__div:nth-child(6),&__div:nth-child(2),&__div:nth-child(3){
                @include glass-dark-blue;

                
               
            }
            
             &__div{
           
                ///@include neon-glow;
                border-radius: 20px;
                width: 85%;

                margin:  auto;
                margin-top: 5%;
                
                padding: 5.5%;
                padding-bottom: 10%;
                min-height: 75%;
                max-height: 75%;
                min-width: 289px;
                
                
               

                &__inside{
                   
                    &__img{
                      //display: none;
                    }
                    
                    &__h4{
                        width:100%;

                        @include mq(medium-samll){
                            font-size: 18px;
                        }
                    }
                }
                
                .pPp{
                    line-height:18.5px;
                    font-weight:300;
                    font-size: 16.5px;
                    margin-top: 2.5%;
                    margin-bottom: 2.5%;
                    color:  hsl(0, 0%, 84%);
                    
                    @include mq(medium-samll){
                        font-size: 14.5px;
                    }
              
                }
            
            }

            
            
          

           

            
            }
        
        }
   }


}