@import 'varMix';

.main{


 

    &__product{ 
       

        
        @include text-list(
          'features',
          
          
          
        );

        
   @include mq (large){

      @include text-list(
        'features',
        $columns:1,
       
       );

     
  
  }




        margin-top: 12.5%;
   
        &__features{
          position: relative;
          &__gradient{
            position: absolute;
            top: 20%;
            left: -5%;
            z-index: -5;
            ///transform: translate(-2.5%,5%);
            ///transform: skew(5deg,50deg);
            transform: rotate(70deg);
            ///transform: rotate(50deg);
            width: 100%;
            
            filter: drop-shadow(0 0 0.25rem rgb(220, 20, 190))blur(80px) brightness(0.6);
            
           
          }
          
            &__h2{
               
               text-align: left;
             
               @include mq(medium){
                margin:  0 auto;
                text-align: center;
               }
                
            }

            

            &__wrapper{
               
              width:80%;
               margin: auto;
              
              margin-top: 2.5%;
              

              &__div:nth-child(3n+1),&__div:nth-child(5){
                @include glass;

                
              }
            

              &__div:nth-child(6),&__div:nth-child(2),&__div:nth-child(3){
                
                @include glass-dark-blue;
                
               
              }

              



              
               
            

          
            
              &__div{
           
                ///@include neon-glow;
                border-radius: 20px;
                width: 65%;
                height: 75%;

                margin: 0 auto;
                margin-top: 5%;
               
                padding: 5.5%;
                padding-bottom: 10%;
                ///min-height: 75%;
                max-height: 75%;
                min-width: 289px;
               
                
               

                &__inside{
                   display: flex;
                   flex-direction: column;
                    &__img{
                     
                    
                     width: 15%;
                     
                      
                    }
                    
                    &__h4{
                      margin-top: 5%;
                        width:100%;
                       text-align: center;
                        @include mq(medium-samll){
                            font-size: 18px;
                        }
                    }
                }
                
                .pPp{
                    line-height:18.5px;
                    font-weight:300;
                    font-size: 16.5px;
                    margin-top: 2.5%;
                    margin-bottom: 2.5%;
                    color:  hsl(0, 0%, 84%);
                    margin: 0 auto;
                    text-align: center;
                    width: 95%;
                    
                    @include mq(medium-samll){
                        font-size: 14.5px;
                    }
              
                }
            
              }

            

            
              

              @include mq(large){

                &__div{
                    min-height: 85%;
                    min-width: 300px;
                }
                
                &__div:nth-child(1),&__div:nth-child(3){
                   /// 
                   @include glass;
                    
                  }
                

                  &__div:nth-child(6),&__div:nth-child(2),&__div:nth-child(4){
                
                    @include glass-dark-blue;
                    
                   
                  }
                  

              }

            
            }
        
        }
   }


}